<!DOCTYPE html>
<html>
  <title>Trip Planner - {% block title %}{% endblock %}</title>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand clearfix" href="/"><span class="glyphicon glyphicon-map-marker"></span><span>Trip Planner</span></a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>

    {% block content %}
    {% endblock %}

    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfQxgWt-LSZcEmTEN8581Uq9SzZHnpuys"></script>
    <script src="/js/main.js"></script>


    <script>
    // $(function initializeMap (){});
      var counter = 1,
          // day = 1,
          selectedDay = 1;

      var hotels = {{ hotels | dump | safe }};
      var restaurants = {{ restaurants | dump | safe }};
      var activities = {{ activities | dump | safe }};


      // ADDING
      $.each(hotels, function(key, hotel) {
        $('#hotel-choices').append($("<option></option>").attr("value", hotel.name).text(hotel.name))
      })
      $.each(restaurants, function(key, restaurant) {
        $('#restaurant-choices').append($("<option></option>").attr("value", restaurant.name).text(restaurant.name));
      })
      $.each(activities, function(key, activity) {
        $('#activity-choices').append($("<option></option>").attr("value", activity.name).text(activity.name));
      })

      var itinerary = {
        '1': {
          hotels: [],
          restaurants: [],
          activities: []
        }
      };

      // Adding choices
      $('#hotel-choices').next('button').on('click', function(){
        var selected = $( "#hotel-choices option:selected" )
        var hotelInfo = hotels.filter(function(hotel) {
          return hotel.name === selected.val();
        })
        var latLng = hotelInfo[0].place.location;
        itinerary[selectedDay].hotels.push(selected.val(),latLng);
        $('#my-hotel').append($('<span></span>').addClass('title').text(selected.val()));

        drawMarker('hotel', latLng);

      })

      $('#restaurant-choices').next('button').on('click', function(){
        var selected = $( "#restaurant-choices option:selected" )
        var restaurantInfo = restaurants.filter(function(restaurant) {
          return restaurant.name === selected.val();
        })
        var latLng = restaurantInfo[0].place.location;
        itinerary[selectedDay].restaurants.push($( "#restaurant-choices option:selected" ).text(), latLng);
        $('#my-restaurant').append($('<span></span>').addClass('title').text(selected.val()));

        drawMarker('restaurant', latLng);
      })

      $('#activity-choices').next('button').on('click', function(){
        var selected = $( "#activity-choices option:selected" )
        var activityInfo = activities.filter(function(activity) {
          return activity.name === selected.val();
        })
        var latLng = activityInfo[0].place.location;
        itinerary[selectedDay].activities.push($( "#activity-choices option:selected" ).text(), latLng);
        $('#my-activity').append($('<span></span>').addClass('title').text(selected.val()));
        

        drawMarker('activity', latLng);
      })


      // REMOVING
      $('#my-hotel > :first-child').on('click', function(){

        var removedItem = itinerary[selectedDay].hotels.splice(0,2);
        
        var removeMarker = markers.filter(function(marker) {
          if(marker.position.lat().toFixed(6)/1 === removedItem[1][0] && marker.position.lng().toFixed(6)/1 === removedItem[1][1]) {
            marker.setMap(null);
          }
        })
        $('#my-hotel > :nth-child(2)').remove();

      })

      $('#my-restaurant > :first-child').on('click', function(){

        var removedItem = itinerary[selectedDay].restaurants.splice(0,2);
        
        var removeMarker = markers.filter(function(marker) {
          if(marker.position.lat().toFixed(6)/1 === removedItem[1][0] && marker.position.lng().toFixed(6)/1 === removedItem[1][1]) {
            marker.setMap(null);
          }
        })
        $('#my-restaurant > :nth-child(2)').remove();

      })

      $('#my-activity > :first-child').on('click', function(){

        var removedItem = itinerary[selectedDay].activities.splice(0,2);
        
        var removeMarker = markers.filter(function(marker) {
          if(marker.position.lat().toFixed(6)/1 === removedItem[1][0] && marker.position.lng().toFixed(6)/1 === removedItem[1][1]) {
            marker.setMap(null);
          }
        })
        $('#my-activity > :nth-child(2)').remove();

      })

      $('#day-add').on('click', function() {
        $(this).before($('<button></button>').addClass('btn btn-circle day-btn').text(++counter));
      })

      

      //Adding new day
      $('#day-add').on('click', function() {
        $('.day-btn').removeClass('current-day');
        $(this).prev().addClass('current-day');

        //add day to itinerary
        // var currentDay = day++
        selectedDay++;
        console.log(selectedDay)

        itinerary[selectedDay] = {
          hotels: [],
          restaurants: [],
          activities: []
        }

        $('#itinerary').find('span').remove()   
        markers.forEach(function(marker) {
          marker.setMap(null);
        });

        $('#day-title > span').text('Day ' + selectedDay);

        //Switch Days now.... 
        $('.day-btn:not(#day-add)').on('click', function() {
          $('.day-btn').removeClass('current-day');
          $(this).addClass('current-day');

          selectedDay = Number($(this).text());
          
          $('#itinerary').find('span').remove()          
          markers.forEach(function(marker) {
            marker.setMap(null);
          });

          for (var type in itinerary[selectedDay]) {
            for (var i = 0; i < itinerary[selectedDay][type].length; i+=2) {
              var typeName = itinerary[selectedDay][type][i];
              var typeLatLng = itinerary[selectedDay][type][i+1];

              if(type === 'hotels') {
                $('#my-hotel').append($('<span></span>').addClass('title').text(typeName));
                drawMarker('hotel', typeLatLng);
              }
              if(type === 'restaurants') {
                $('#my-restaurant').append($('<span></span>').addClass('title').text(typeName));
                drawMarker('restaurant', typeLatLng);
              }
              if(type === 'activities') {
                $('#my-activity').append($('<span></span>').addClass('title').text(typeName));
                drawMarker('activity', typeLatLng);
              }
            }
          }
          $('#day-title > span').text('Day ' + selectedDay);
        })
      })

      $('#day-remove').on('click', function() {
        $('.day-buttons :nth-last-child(2)').remove();
        selectedDay--;
        console.log(selectedDay)
      })




    </script>


  </body>
</html>
